<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tpo.cocktailrecipe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:appComponentFactory="whateverString"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:appComponentFactory"
            tools:targetApi="p">

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-5877882061775048~7243780217" />

        <activity
                android:name=".activities.MeMePhotoShowActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.CocktailDetailsActivity"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.FullScreenImageActivity"
                android:screenOrientation="fullSensor"
                android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>